body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #0e2348;
  outline: 1px solid rgb(255, 255, 255);
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 48px;
  line-height: 50px;
}
h2 {
  font-size: 37px;
  line-height: 40px;
}
h6 {
  font-size: 16px;
  line-height: 24px;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 45px;
  height: 45px;
  transition: all 0.5s;
  background: #0e2348;
  color: #fff;
  border: 1px solid #fff;
}
.back-to-top i {
  font-size: 28px;
  line-height: 0;
}
.back-to-top:hover {
  background: #fff;
  color: #0e2348;
  border: 1px solid #0e2348;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Header */
#header {
  height: 50px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #0e2348;
}
@media (max-width: 768px) {
  #header {
    height: 64px;
    background: rgba(0, 0, 0, 0.8);
  }
  #header .logo h1 {
    font-size: 28px;
  }
}
.header-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 40px 0;
  box-shadow: 2px 2px 14px #42414f;
}
.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
}
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 500;
  margin: 3px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  background-color: #fff;
  color: #0d2529;
}
.img-thumbnail {
  height: 200px;
  width: 100%;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 2, 2, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0d2529;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #fff;
  background-color: #0e2348;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
/* About */
#about {
  box-shadow: 2px 2px 15px #111;
  margin: 20px auto;
}
.about-area {
  background-color: #f9f9f9;
}
.area-padding {
  padding: 70px 0px 80px;
}
.card {
  width: 15rem;
}
.single-well > a {
  display: block;
}
.single-well > a > img {
  max-width: 200px;
  height: 200px;
}
.single-well ul li {
  color: #444;
  display: block;
  padding: 18px 0;
  font-size: 18px;
}
.single-well p {
  color: #444;
}
.vision-box,
.mission-box {
  box-shadow: 2px 2px 14px #363636;
  padding: 20px;
  display: block;
}
.table {
  width: 80%;
  min-height: 350px;
  margin: auto;
  text-align: center;
  border-color: #0e2348;
}
.table tr:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0e2348;
}
.table thead {
  border-right-color: #fff;
  background: #0e2348;
}
.table thead > tr > th:last-child {
  border-right-color: #0e2348;
  border-width: 0 1px 0 1px;
}

/* Blog page */
.page-area {
  position: relative;
}

.blog-page .banner-box {
  margin-bottom: 40px;
}

/* Footer */
.footer-area {
  padding: 40px 0;
  background: #0e2348;
}
.footer-head p {
  color: #fff;
}
.footer-head h4 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.footer-logo {
  padding-bottom: 20px;
}
.footer-logo h2 {
  color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
.footer-icons ul li {
  display: inline-block;
}
.footer-icons ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.footer-icons ul li a i {
  line-height: 0;
}
.flicker-img > a {
  float: left;
  padding: 1px;
  width: 33%;
}
.footer-icons {
  margin-top: 30px;
}
.footer-content {
  display: block;
  overflow: hidden;
}
.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 0;
}
.copyright-text a:hover {
  text-decoration: underline;
  color: #3ec1d5;
}
.copyright-text a {
  text-decoration: none;
  color: #fff;
}
.copyright > p {
  margin-bottom: 0;
  color: #fff;
}

/* Responsive Codes*/
/* Big Screen Responsive Code */
@media (min-width: 991px) {
  .header-bg {
    background-attachment: fixed;
  }
  .header-logo img {
    margin-top: 25px;
  }
  .banner-heading {
    font-size: 35px;
  }
  #marquee {
    margin-top: 5px;
    padding: 0;
    color: #0d2529;
    border: 1px solid #0e2348;
  }
  .animate__animated.animate__fadeInLeft,
  .animate__animated.animate__fadeInRight {
    animation-duration: 5s;
  }
}
/* Medium Screen Responsive Code */
@media (min-width: 768px) {
  .single-well ul {
    padding-top: 40px;
  }
  .single-well ul li {
    font-size: 22px;
  }
  .vision-box,
  .mission-box {
    box-shadow: 2px 2px 14px #363636;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
  }
  .vision-box p,
  .mission-box p,
  .table {
    font-size: 18px;
  }
  .card {
    width: 100%;
  }
  .single-well h2,
  .single-well li,
  .about-text {
    text-align: justify;
  }
  .single-well > a > img {
    padding-bottom: 20px;
    text-align: center;
  }
  .board-cards {
    padding: 10px;
  }
  .card-body {
    padding: 1rem 0;
  }
}
/* Mobile Responsive Code */
@media (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
    text-align: justify;
    line-height: 40px;
  }
  .px-5 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  #about {
    padding: 0;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  #about .px-5,
  #about .p-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .card {
    width: 100%;
  }
  .table-responsive {
    padding: 0 !important;
  }
  .well-middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .vision-mission h2,
  .banner-heading {
    text-align: center;
  }
  .vision-box,
  .mission-box {
    margin-bottom: 10px;
  }
  .board-cards {
    padding: 4rem;
  }
  .header-bg {
    padding: 30px;
    height: auto;
  }
  .slider-area {
    margin-top: 60px;
  }
  .slider-content {
    padding: 20px 0;
  }
  .slider-content h2 {
    font-size: 30px !important;
    line-height: 32px !important;
    padding-bottom: 10px;
  }
  .slider-content h1 {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  .footer-content {
    margin-bottom: 30px;
  }
  .header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .header-bottom h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
